# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/face_scan_service.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
doc/
source/test/
data/
